#wrapper{
	position: relative;
}
#player1{
	position: absolute;
	height: 1em;
	width: 1em;
	background-color: blue;
	top:5em;
	left: 1em;
	border-radius: 5px;
}

#player2{
	position: absolute;
	height: 1em;
	width: 1em;
	background-color: red;
	top: 15em;
	left: 1em;
	border-radius: 5px;
}

#goal{
	position: absolute;
	height: 100vh;
	width: .3em;
	background-color: yellow;
	left: 90%;
}

#object1 {
	height: 30px;
	width: 30px;
	background-color: green;
	top: 9em;
	left: 90%;
	position: absolute;
	border-radius: 5px;
}

#resetB {
	height: 2em;
	width: 10em;
	background-color: lightblue;
	position: absolute;
	top: 1.5em;
	margin: 0 auto;
	border-radius: 5px;
}